[submodule "BracketHighlighter"]
	path = BracketHighlighter
	url = https://github.com/facelessuser/BracketHighlighter.git
[submodule "Djaneiro"]
	path = Djaneiro
	url = https://github.com/squ1b3r/Djaneiro.git
[submodule "GitGutter"]
	path = GitGutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "SublimeJEDI"]
	path = SublimeJEDI
	url = https://github.com/srusskih/SublimeJEDI.git
[submodule "tern_for_sublime"]
	path = tern_for_sublime
	url = https://github.com/marijnh/tern_for_sublime.git
[submodule "Pylinter"]
	path = Pylinter
	url = https://github.com/biermeester/Pylinter.git
[submodule "JsFormat"]
	path = JsFormat
	url = https://github.com/jdc0589/JsFormat.git
[submodule "Sublime-JSHint"]
	path = Sublime-JSHint
	url = https://github.com/victorporof/Sublime-JSHint.git
[submodule "SublimeAllAutocomplete"]
	path = SublimeAllAutocomplete
	url = https://github.com/alienhard/SublimeAllAutocomplete.git
[submodule "PowerCursors"]
	path = PowerCursors
	url = https://github.com/MaokaiLin/PowerCursors.git
